<div class="container">

  <%= form_for(@genre, url: admins_genre_path, html: {method: "patch"}) do |f| %>
  <h4 class="row ml-5  bg-light d-inline">ジャンル編集画面</h4>


  <div class="row mt-3 mb-2">
    <div class="col-md-3">
      <span>ジャンル</span>
    </div>
    <div class="col-md-3">
      <%= f.text_field :name, class: "form-control" %>
    </div>

    <%#= 同じモデル内のカラムを対象にしたラジオボタンなので、動きます。ハッシュ名status%>
    <div class="col-md-1 offset-2">
      <label><%=f.radio_button :status, true %>有効</label>
      <label><%=f.radio_button :status, false %>無効</label>
    </div>

    <div class="col-md-1 offset-2">
      <%= f.submit "変更を保存する", class: "btn btn-primary px-3" %>
    </div>
  </div>


</div>
</div>

<% end %>

</div>
