<h4 class="ml-5 bg-light d-inline">配送先登録／一覧</h4>


<%= form_for [@user, @delivery] do |f| %>
<% if @delivery.errors.any? %>
  <h3><%= @delivery.errors.count %>個のエラーがあります。</h3>
  <% @delivery.errors.full_messages.each do |message| %>
<ul>
  <li><%= message %></li>
</ul>
<% end %>
<% end %>

<div class="container">
  <div class="row">
    郵便番号
    <%= f.text_field :postal_code %>
  </div>
  
    住所
    <%= f.text_field :address %>
  </tr>
  
    宛名
    <%= f.text_field :name %>
    <%= f.submit "登録する" %>
  </tr>
</div>
<% end %>

<table>
  <th>郵便番号</th>
  <th>住所</th>
  <th>宛名</th>
  <th></th>
  <%  @user.deliveries.each do |f| %>
  <tr>
    <td><%= f.postal_code %></td>
    <td><%= f.address %></td>
    <td><%= f.name %></td>
    <td><%= link_to '編集する', edit_user_delivery_path(f.user_id,f.id) %></td>
    <td><%= link_to '削除する', user_delivery_path(f.user_id,f.id), method: :delete %></td>
  </tr>
  <% end %>
</table>