
<div class="profile-edit-admin">
    <div class="row">
        <h3 class="col-3 page-title">登録情報編集</h3>
    </div>
    <div class="card shadow">
        <%= form_for @user, :url => { action: "update" } do |f| %>
            <div class="field row my-3">
                <%= f.label "氏名", class: "col-2 font-weight-bold" %>
                <span class="col-1">（性）</span>
                <%= f.text_field :first_name, class: "form-control col-3" %>
                <span class="col-1">（名）</span>
                <%= f.text_field :last_name,  class: "form-control col-3" %>
            </div>

            <div class="field row my-3">
                <%= f.label "カナ", class: "col-2 font-weight-bold" %>
                <span class="col-1">(セイ)</span>
                <%= f.text_field :first_kana, class: "form-control col-3" %>
                <span class="col-1">(メイ)</span>
                <%= f.text_field :last_kana,  class: "form-control col-3" %>
            </div>

            <div class="field row my-3">
                <%= f.label :email, class: "col-2 font-weight-bold" %>
                <span class="col-1"></span>
                <%= f.email_field :email, class: "form-control col-3" %>
            </div>

            <div class="field row my-3">
                <%= f.label :postal_code, class: "col-2 font-weight-bold" %>
                <span class="col-1"></span>
                <%= f.text_field :postal_code, class: "form-control col-3" %>
            </div>

            <div class="field row my-3">
                <%= f.label :address, class: "col-2 font-weight-bold" %>
                <span class="col-1"></span>
                <%= f.text_field :address, class: "form-control col-3" %>
            </div>

            <div class="field row my-3">
                <%= f.label :telephone_number, class: "col-2 font-weight-bold" %>
                <span class="col-1"></span>
                <%= f.text_field :telephone_number, class: "form-control col-3" %>
            </div>

            <div class="field row my-3">
                <%= f.label :status, "会員ステータス", class: "col-2 font-weight-bold" %>
                <div class="ml-5">
                    <%= f.label :status, "有効", class: "text-primary" %>
                    <%= f.radio_button :status, true %>
                    <%= f.label :status, "無効", class: "text-danger ml-4" %>
                    <%= f.radio_button :status, false %>
                </div>
            </div>

            <div class="row">
                <%= f.submit "変更を保存する", class: "btn edit-btn"%>
            </div>
        <% end %>
    </div>
</div>