
<div class="container">
  <h3 class="row ml-5 bg-light d-inline">注文履歴詳細</h3>

  <div class="row mt-4">
   <div class="col-md-7">
    <table class="table table-bordered">
     <h5>注文情報</h5>
      <tr>
        <th class="bg-light">注文日</th>
        <td><%= @order.created_at.strftime("%Y/%m/%d") %></td>
      </tr>

      <tr>
        <th class="bg-light">配送先</th>
        <td><%= @order.postal_code %><br>
		        <%= @order.address %><br>
		        <%= @order.name %></td>
      </tr>

      <tr>
        <th class="bg-light">支払方法</th>
        <td><%= @order.payment_i18n %></td>
      </tr>

      <tr>
        <th class="bg-light">ステータス</th>
        <td><%= @order.status %></td>
      </tr>
    </table>
   </div>

   <div class="col-md-5">
    <table class="table table-bordered">
      <h5>請求情報</h5>
      <tr>
        <th class="bg-light">商品合計</th>
        <td><%= @total_price %></td>
      </tr>

      <tr>
        <th class="bg-light">配送料</th>
	      <td><%= @order.postage %></td>
      </tr>

      <tr>
        <th class="bg-light">ご請求額</th>
        <td><%= @postage_total_price %></td>
      </tr>
    </table>
   </div>
  </div>


<div class="row">
 <div class="col-md-8">
  <table class="table table-bordered">
    <h5>注文内容</h5>
        <tr class="bg-light">
          <th>商品名</th>
          <th>単価（税込）</th>
          <th>個数</th>
          <th>小計</th>
        </tr>
        <% @carts.each do |cart| %>
        <tr>
          <td><%= cart.product.name %></td>
          <td><%= cart.tax_included %></td>
          <td><%= cart.stock %></td>
          <td><%= cart.subtotal %></td>
        </tr>
        <% end %>
  </table>
 </div>
</div>

</div>