<h2>ショッピングカート</h2>
<!-- カートを空にするボタン -->
<%= button_to "カートを空にする", destroy_all_path, method: :delete %>

<table>
  <thead>
	  <tr>
	    <th>商品名</th>
	    <th>単価（税込）</th>
	    <th>数量</th>
	    <th>小計</th>
	    <th></th>
	  </tr>
  </thead>
  <tbody>

	  <% @carts.each do |cart| %>
	  <tr>
	  	<td><%= cart.product.name %></td>
	  	<td><%= cart.tax_included %></td>
	  	<td><%= cart.stock %></td>
	  	<td><%= cart.subtotal %></td>
	  	<td><%= link_to "削除する",user_carts_path(cart),class: 'btn-sm btn-danger', method: :delete %></td>
	  </tr>
	  <% end %>
  </tbody>
</table>

<!-- 合計金額表示 -->
<table>
  <tr>
    <th>合計金額</th>
　　　<td><%= @total_price %></td>
  </tr>
</table>

<!-- 買い物を続けるボタン -->
<%= link_to "買い物を続ける",products_path,class: 'btn-sm btn-primary' %>


<!-- 情報入力に進むボタン -->
<%= link_to "情報入力画面に進む",order_path(current_user.id),class: 'btn-sm btn-success' %>


