<div class="container">
  <div class="box-product">
  <p>商品一覧画面</p>
  </div>
	<div class="row">


		<div class="push-real-btn">
		<a href="/admins/products/new" class="btn-real"></a>
		</div>

		<table class="table">
			<thead>
				<tr>
					<th>商品ID</th>
					<th>商品名</th>
					<th>税抜価格</th>
					<th>ジャンル</th>
					<th>ステータス</th>
				</tr>
			</thead>
			<tbody>
				<% @products.each do |product| %>
				<tr>
					<td><%= product.id %></td>
					<td><%= link_to product.name,admins_product_path(product) %></td>
					<td><%= product.price.to_s(:delimited) %>円</td>
					<td><%= product.genre.name %></td>
					<td>
						<% if product.status %>
						<span>販売中</span>
						<% else %>
						<span>販売停止中</span>
						<% end %>
					</td>
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>

<%= paginate @products, class: "paginate" %>

    </div>
  </div>
</div>
</div>