<div class="container">
	<h3 class="product-title">商品一覧画面</h3>
	<div class="row">

		<%#= 商品を新規追加するボタン %>
		<div class="push-real-btn">
<<<<<<< HEAD
		<a href="/admins/products/new" class="btn-real">New</a>
=======
			<a href="/admins/products/new" class="btn-real"></a>
>>>>>>> e98d8d20b983b45325180507617223da174ee506
		</div>

		<table class="table">
			<thead>
				<tr>
					<th>商品ID</th>
					<th>商品名</th>
					<th>税抜価格</th>
					<th>ジャンル</th>
					<th>ステータス</th>
				</tr>
			</thead>
			<tbody>
				<% @products.each do |product| %>
				<tr>
					<td><%= product.id %></td>
					<td><%= link_to product.name,admins_product_path(product) %></td>
					<td><%= product.price.to_s(:delimited) %>円</td>
					<td><%= product.genre.name %></td>
					<td>
						<%#= 制作中だった場合、それ以外で条件分岐しています %>
						<% if product.status %>
						<span>販売中</span>
						<% else %>
						<span>販売停止中</span>
						<% end %>
					</td>
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>

	<%# Kaminariを使ってページネーションを表示しています。 %>
	<%= paginate @products %>

</div>
</div>
<<<<<<< HEAD
=======
</div>
</div>
>>>>>>> e98d8d20b983b45325180507617223da174ee506
