<div class="container">
	<h2>商品新規登録画面</h2>
	<div class="row">
		<div class="col-md-4">
			<%= form_for @product,:url => {action:"create"} do |f| %>
			<!-- 画像選択 -->
			<!-- 画像選択ボタン -->
			<%= attachment_image_tag @product, :product_image, format: 'jpeg', fallback: "no_image.jpg", size: "100x100" %><br>
			<%= f.label :product_image, "画像選択", class: "btn-sm btn-primary" %>
			<%= f.file_field :product_image, class: "image_form" %>
		</div>
		<div class="col-md-4">
			<h4>商品名</h4>
			<%= f.text_field :name %>
			<h4>商品説明</h4>
			<%= f.text_area :description %>
			<h4>ジャンル</h4>

			<%= f.fields_for :genre do |g| %>
			<%= g.collection_select :genre_id, @genres, :id, :name  %>
			<% end %>

			<h4>税抜価格</h4>
			<%= f.text_field :price %>
			<h4>販売ステータス</h4>
			<%= f.select :status, [['販売中',true],['販売停止中',false]], {include_blank: '--選択してください--'} %>
		</div>
		<div class="col-md-2 offset-10">
			<!-- 新規登録ボタン -->
			<%= f.submit '新規登録',class: 'btn-sm btn-primary' %>
			<% end %>
		</div>
	</div>
</div>