<!-- ジャンル検索部分テンプレート -->
<div class="container">
  <div class="row">
    <div class="col-md-2">
      <table class="table table-bordered">
        <th class="genre-th">Genre</th>
        <% @genres.each do |f|%>
        <% if f.status == true %>
        <tr class="genre-tr">
          <td class="genre-td">
            <%# ジャンルが無効なら表示しない %>
            <%= link_to f.name, genre_path(f.id) %>
            <% end %></td>
        </tr>
        <% end %>
      </table>
    </div>

    <div class = "col-md-4">
    <!-- 商品画像 -->
      <%= attachment_image_tag @product, :product_image, format: 'jpeg', fallback: "no_image.jpg", size: "200x100" %>
    </div>
    <div class = "col-md-6">
      <!-- 商品名 -->
      <%= @product.name %><br>
      <!-- 商品説明 -->
      <%= @product.description %><br>
      <!-- 価格 -->
      <%= @product.tax_included %>円<br>
      <!-- カートに入れるボタン -->
      <%= form_for @cart ,url: user_carts_path(@user) do |f| %>
        <%= f.hidden_field :product_id, value: @product.id %>
        <%= f.hidden_field :user_id, value: @user.id %>
        <%= f.select :stock, options_for_select((1..10).to_a), include_blank: "個数選択" %>
        <%= f.submit "カートに入れる",class: 'btn-product' %>
      <% end %>
    </div>
  </div>
</div>