
<div class="container">

  <h3>注文一覧画面</h3>

  <table class="table table-bordered">
  <tr class="bg-light">
    <td>購入日時</td>
    <td>購入者</td>
    <td>注文個数</td>
    <td>注文ステータス</td>
  </tr>


  	<% @orders.each do |order| %>
    <tr>
     <td><%= link_to admins_order_path(order) do %>
           <%= order.created_at.strftime("%Y/%m/%d %H:%M:%S") %>
         <% end %>
     </td>
     <td><%= order.user.name %></td>
     <% order.ordered_products.each do |ord| %>
        <td><%= ord.stock %></td>
     <% end %>
     <td><%= order.status %></td>
    </tr>
    <% end %>

</table>




</div>