  <header class="navbar navbar-expand-md bg-dark mb-5">
    <%# 他の要素とスペースを開けるためにヘッダーにマージンを設定しています。（ほりゆう） %>
    <ul class="navbar-nav border my-3 px-3">
      <li class="text-white h3 shop-name pt-2">Nagano Cake</li>
    </ul>
    <% if flash[:notice] && user_signed_in? %>
      <%# ログインに成功した場合 %>
      <p>ようこそ、<%= current_user.first_name, class: "text-white" %>さん！</p>
    <% end %>
    <ul class="navbar-nav ml-auto my-3">
      <% if user_signed_in? %>
      <li class="nav-item p-2 mr-5 btn-light rounded">
        <%= link_to 'マイページ', user_path(current_user.id), class: "text-decoration-none text-secondary" %></li>
      <li class="nav-item p-2 mr-5 btn-light rounded">
        <%= link_to '商品一覧', products_path, class: "text-decoration-none text-secondary" %></li>
      <li class="nav-item p-2 mr-5 btn-light rounded">
        <%= link_to 'カート', user_carts_path(current_user.id), class: "text-decoration-none text-secondary px-2" %></li>
      <li class="nav-item p-2 btn-light rounded">
        <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "text-decoration-none text-secondary" %>
      </li>
      <% else %>
      <li class="nav-item p-2 mr-5 btn-light rounded">
        <%= link_to '商品一覧', products_path, class: "text-decoration-none text-secondary" %></li>
      <li class="nav-item p-2 mr-5 btn-light rounded">
        <%= link_to '新規登録', new_user_registration_path, class: "text-decoration-none text-secondary" %></li>
      <li class="nav-item p-2 mr-5 btn-light rounded">
        <%= link_to 'ログイン', new_user_session_path, class: "text-decoration-none text-secondary" %></li>
      <% end %>
    </ul>
  </header>