<!DOCTYPE html>
<html>

<head>
  <title>BlueBirdCake</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>

  <header class="navbar navbar-expand-md bg-dark mb-5">
    <%# 他の要素とスペースを開けるためにヘッダーにマージンを設定しています。（ほりゆう） %>
    <ul class="navbar-nav border my-3 px-3">
      <%= link_to root_path ,class: "text-decoration-none" do %>
      <li class="text-white h3 shop-name pt-2">Nagano Cake
        </li>
        <% end %>
    </ul>
  </div>
    <ul class="navbar-nav ml-auto my-3">
      <% if user_signed_in? %>
      <li class="nav-item p-2 mr-5 btn-light rounded">
        <%= link_to 'マイページ', user_path(current_user.id), class: "text-decoration-none text-secondary" %></li>
      <li class="nav-item p-2 mr-5 btn-light rounded">
        <%= link_to '商品一覧', products_path, class: "text-decoration-none text-secondary" %></li>
      <li class="nav-item p-2 mr-5 btn-light rounded">
        <%= link_to 'カート', user_carts_path(current_user.id), class: "text-decoration-none text-secondary px-2" %></li>
      <li class="nav-item p-2 btn-light rounded">
        <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "text-decoration-none text-secondary" %>
      </li>

      <%# adminのヘッダー %>
      <% elsif admin_signed_in? %>
      <li class="nav-item p-2 mr-5 btn-light rounded">
        <%= link_to '商品一覧', admins_products_path, class: "text-decoration-none text-secondary" %></li>
      <li class="nav-item p-2 mr-5 btn-light rounded">
        <%= link_to '会員一覧', admins_users_path, class: "text-decoration-none text-secondary" %></li>
      <li class="nav-item p-2 mr-5 btn-light rounded">
        <%= link_to '注文履歴一覧', admins_orders_path, class: "text-decoration-none text-secondary px-2" %></li>
      <li class="nav-item p-2 btn-light rounded">
        <%= link_to 'ジャンル管理', admins_genres_path, class: "text-decoration-none text-secondary" %>
      </li>

      <% else %>
      <li class="nav-item p-2 mr-5 btn-light rounded">
        <%= link_to '商品一覧', products_path, class: "text-decoration-none text-secondary" %></li>
      <li class="nav-item p-2 mr-5 btn-light rounded">
        <%= link_to '新規登録', new_user_registration_path, class: "text-decoration-none text-secondary" %></li>
      <li class="nav-item p-2 mr-5 btn-light rounded">
        <%= link_to 'ログイン', new_user_session_path, class: "text-decoration-none text-secondary" %></li>
      <% end %>
    </ul>
  </header>

  <%= yield %>
  <footer class="bg-dark p-5 text-white mt-5">フッターです。
  </footer>
</body>

</html>